{% extends "base.html" %}

{% block title %}About Me{% endblock %}

{% block content %}
<h1>About Me</h1>
<p>I'm a nerd from Córdoba, Argentina.

    I specialize in web development, primarily using Python/Django, but I am also proficient with Flask and FastAPI.
    Additionally, I also have solid experience with JavaScript, React as well as in DevOps practices such as GitOps with
    FluxCD. ^d1af28

    Sharing knowledge is something I’m passionate about, which is why I try to give talks, write posts, or contribute to
    open-source projects. For example:
    - Translation of Python documentation - https://github.com/python/python-docs-es/
    - Django official forum - https://forum.djangoproject.com/u/marcorichetta/summary
    - Nerdearla - Intro a GitOps - https://www.youtube.com/live/EWofHnNngoc?si=9rkvYuxCOo-MucXp

    I’m also interested in topics like Infrastructure as Code, MLOps, Documentation, Testing, and Functional
    Programming.</p>

<p>On a more personal side, I like to play bass and guitar.</p>
{% endblock %}